/* .container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
} */
.container {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}

.swiper-container {
  padding: 20px 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}
.spacer {
  margin: 30px 0;
}
.swiper {
  --swiper-theme-color: #fff;
}
.cate {
  font-size: larger;
  position: relative;
  display: inline-block;
  padding-bottom: 13px;
}

.cate:before {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  bottom: 0;
  border-bottom: 3px solid red;
}
